.vs
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
*.sln
/Content/ParagonTwinblast/*
/Content/AdvancedMagicFX13/*
/Content/Magic_Circle_Creator/*
/Content/ParagonGideon/*
/Content/ParagonSevarog/*